@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

/* * {
    width: 100%;
    height: 100%;
} */
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}

.dark-two {
    color: #424242;
}

.dark-three {
    color: #727272;
}

/* .nav-bar {
    display: flex;
}
.nav-links {
    display: flex;
} */

/* header styles start here */

.nav-bar_and_banner-container {
    background-color: rgba(255, 144, 14, 0.1);
}

/* navigation bar styles start here */
.nav-link {
    text-decoration: none;
    font-weight: 500;
}



.nav-items {
    list-style: none;
    margin-right: 30px;
}

.nav-bar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 2rem;
}

.image {
    width: 100%;
}
/* navigation bar styles end here */

/* banner styles end here */
.nav-bar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-description {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
}



.banner-image {
    width: 100%;
}
/* banner styles end here */

/* header styles end here */

/* header responsive media query start here */


/* main styles start here */
main {
    max-width: 1440px;
    margin: 0 auto;
}

main > section {
    margin-top: 100px;
}

.section-title {
    font-weight: 700;
    font-size: 2.8rem;
}

/* team and feature related styles */

.images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}

.teams {
    align-items: center;
}
#quick-list {
    font-weight: 700;
}

.text-primary {
    color: #FF900E;
}
/* Features you will love & enjoy styles */
.features-will-enjoy {
    gap: 130px;
}
#features-border {
    border-left: 7px solid #FF900E;
    padding-left: 20px;
}

.feature-card {
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);

    margin-bottom: 20px;
    border-radius: 10px;
}

.feature-title {
    font-weight: 600;
    font-size: 1.25rem;
}

#experience-badge {
    padding: 45px 42px;

    margin-left: -100px;
    margin-top: -100px;
}

.experience-year {
    font-size: 4rem;
    font-weight: 700;
}

.experience {
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 1);
}

.featured-architect img {
    width: 100%;
}

/* some facts styles */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin-top: 90px;
}

.fact-card {
    border: 1px solid #FF900E;
    width: 215px;
    height: 205px;

    border-radius: 8px;
    text-align: center;

    justify-content: center;
    align-items: center;
}

.fact-number {
    font-weight: 600;
    font-size: 2rem;

    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-name {
    font-weight: 600;
    font-size: 1.2rem;

    margin-top: 10px;
}

.fact-description {
    width: 540px;
    margin-top: 20px;
}

/* sponsers styles */
.sponsors-info {
    width: 540px;
    height: 125px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.sponsors-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsors-companies img {
    filter: grayscale(100%);
}

/* small device responsive */
@media screen and (max-width: 576px) {
    .nav-bar, .nav-links, .teams, .features-will-enjoy {
        flex-direction: column;
    }

.images-container, .facts-container, .sponsors-companies {
    grid-template-columns: 1fr;
}

.our-features {
    margin-left: 20px;
}

.facts-container {
    justify-items: center;
    gap: 24px;
}

.sponsors-companies {
    justify-items: center;
    gap: 35px;
}

#experience-badge {
    margin-top: 20px;
    margin-left: 125px;
}
}

/* medium device responsive */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .teams, .features-will-enjoy {
        flex-direction: column;
    }

    .our-features {
        margin: 50px auto;
    }

    .sponsors-companies {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        justify-items: center;
    }

    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 20px;
    }

    #experience-badge {
        margin-top: 20px;
        margin-left: 300px;
    }
}